extends layout

block content
  h1= user.username
  h2= client.name


  form(action="/api/oauth2/authorize", method="post")
        div.input
            input(type="submit", value="Allow", id="allow")
        div.input
            input(type="submit", value="Deny", name="cancel", id="deny")
        div.actions
            input(name="transaction_id", type="hidden", value=transactionID)